root {
    font-size: 12px;
}

html {
    box-sizing: border-box;
}

@media screen and (min-width: 385px) {
    root {
        font-size: 14px;
    }
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    background: #555;
    height: 70px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

header a {
    color: whitesmoke;
    text-decoration: none;
    padding: 4px;
}

header a:hover {
    color: darkgrey;
}

.active {
    color: darkgrey;
}

#logo, nav{
    flex: 1 1 100%;
}

#logo a {
    font-size: 1.5rem;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

nav a {
    font-size: 1.3rem;
}

#container {
    margin: 90px 40px 30px 40px;
}

footer {
    background-color: #555;
    color: whitesmoke;
    height: 25px;
}

footer div {
    padding-left: 40px;
    height: 100%;
    display: flex;
    align-items: center;
}

footer h5 {
    margin: 0;
}

#contact h3 {
    margin: 0 0 10px 0;
}

#contact div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#contact input, #contact textarea {
    font-family: 'Source Sans Pro', sans-serif;
    border: 2px solid #555555;
    border-radius: 4px;
    margin-bottom: 4px;
    max-width: 300px;
    flex: 1 1 74%;
}

#contact textarea {
    padding: 0;
    resize: none;
}

#contact input.valid, #contact textarea.valid {
    border: 2px solid #21A321;
}

#contact input.invalid, #contact textarea.invalid {
    border: 2px solid #de0000;
}

#contact span {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding-left: 10px;
    flex: 1 1 20%;
}

#contact img {
    height: 18px;
}

#contact button {
    background: slateblue;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    padding: 4px;
}

#contact button:hover {
    background: darkblue;
}

#resume .heading {
    color: darkred;
    margin-bottom: 10px;
    font-weight: bold;
}

#resume .text {
    margin: 10px 0;
}

#resume #skills {
    padding: 0;
    margin: 0;
}

#resume #skills li {
    display: inline-block;
    width: 30%;
    margin-right: 8px;
}

@media screen and (min-width: 385px) {
    #logo a {
        font-size: 1.7rem;
    }

    nav a {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 468px) {
    #logo a {
        font-size: 1.8rem;
    }

    nav a {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 618px) {
    nav a {
        font-size: 1.6em;
    }

    #resume #skills li {
        width: 20%;
    }
}

@media screen and (min-width: 768px) {
    header {
        text-align: left;
        flex-wrap: nowrap;
    }

    #logo, nav {
        height: 100%;
    }

    #logo {
        display: flex;
        flex: 1 1 60%;
        align-items: center;
        padding-left: 60px;
    }

    #logo a {
        font-size: 1.8rem;
        padding-left: 0;
    }

    nav {
        flex: 1 1 40%;
    }

    nav ul {
        height: 100%;
        align-items: center;
    }

    nav a {
        font-size: 1.1em;
    }

    #container {
        margin: 90px 60px 30px 60px;
    }

    footer div {
        padding-left: 60px;
    }
}